<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984153842868-tkodihp8cltaa4h2jbqd9co0eni7pj6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984153842868-tkodihp8cltaa4h2jbqd9co0eni7pj6d</string>
	<key>API_KEY</key>
	<string>AIzaSyBgyofZjOoaghm9Drd5Lac55mOQuq4ukhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>984153842868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LucasBighi.App-Pet</string>
	<key>PROJECT_ID</key>
	<string>app-pet-301d7</string>
	<key>STORAGE_BUCKET</key>
	<string>app-pet-301d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984153842868:ios:b05dc6fc16639bad</string>
	<key>DATABASE_URL</key>
	<string>https://app-pet-301d7.firebaseio.com</string>
</dict>
</plist>